<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Private Note</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
<div class="container">
    <div class="main">
        <div class="top">
            <textarea class="note" placeholder="Write your note here..." spellcheck="false"></textarea>
            <h3 class="link_ready">Your link is ready!</h3>
            <input class="link" type="text" readonly>
            <div class="buttons">
                <button class="create_note_yes">Yes, show me the note</button>
                <button class="create_note_no">Not now</button>
            </div>
        </div>
        <div class="down">
            <button class="create_note">Create Note</button>
        </div>
    </div>
</div>
</body>
<script src="../static/index.js" type="module"></script>
</html>