<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Private Note</title>
    <link rel="stylesheet" href="../static/remove.css">
</head>
<body>
<div class="container">
    <div class="main">
        <div class="top">
            <h3>Read and Destroy?</h3>
            <button class="create_note_yes">Yes, show me the note</button>
            <button class="create_note_no">Not now</button>
            <div class="note">
                {{note}}
            </div>
        </div>
    </div>
</div>
</body>
<script src="../static/remove.js" type="module"></script>
</html>